*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html {
    font-size: 62.5%;
    font-family: poppines, sans-serif;
    font-style: normal;
}
body {
    font-size: 1.6rem;
    color: var(--text-primary);
}
:root {
    --primary: #7F56D9;
    --secondary: #F4EBFF;
    --text-primary: #101828;
    --text-secondary: #667085;
    --badge-bg: #ECFDF3;
    --badge-text: #027A48;
    --white: #fff;
    --dropdown-bg: rgb(252, 253, 251);
    --shadow: rgba(32, 7, 65, 0.14);
    --container: 124rem;
    --nav-height: #7rem;
}
.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 2rem;
}
.logo {
    font-size: 4rem;
    color: var(--primary);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    position: relative;
    background-color: var(--white);
}
.ul-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-active {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.btn-primary {
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
}
.btn-secondary {
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--primary);
}